.breadcrumb {
  background-color: white !important;
  max-width: 1018px !important;
  margin: auto !important;
  padding-bottom: 35px !important;
}
.breadcrumb__item {
  font-size: 0.85rem;
  font-weight: 700;
}
.breadcrumb__a {
  color: #1d5799;
}
@media (max-width: 568px) {
  .breadcrumb {
    display: none !important;
  }
}
