<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @categories= 'plan'}" >
</sly>

<div class="content">
        <div class="fcontainer row" id="plan">
            <div class="fcontainer__content col-lg-5">
                <article class="fcontainer__article"><span style="font-weight:bold;color: #7f7f7f;">PLAN</span>
                    <h2 itemprop="savings plan">Your savings plan: Start now.</h2>
                    <p class="fcontainer__para" itemprop="calculate savings">You can do this. We make it simple to
                        figure out what, when and how much to save.</p>
                    <h3 class="fcontainer__subheading" itemprop="calculate savings">Let’s do the math.</h3>
                </article>
                <div class="fcontainer__cal row">
                    <div class="fcontainer__content__cal__first col-6"><img src="/content/dam/auki/529/calculator.png"
                            alt="Calculator image" />
                        <p class="fcontainer__calp" itemprop="calculate savings">I want to see how much my savings can
                            grow over time.</p><a class="fcontainer__link" href="#">Go to savings calculator &#8594</a>
                    </div>
                    <div class="fcontainer__content__cal__second col-6" style="border-left: 1px solid #e5e5e5;"><img
                            src="/content/dam/auki/529/calculator.png" alt="Calculator image" />
                        <p class="fcontainer__calp" itemprop="calculate savings">I want to compare college costs and
                            create a savings plan.</p><a class="fcontainer__link" href="#">Go to savings calculator
                            &#8594</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5"><img class="fcontainer__img" src="/content/dam/auki/529/father.png" alt="Father child image" />
            </div>
        </div>
    </div>