.itemgrid ul{

display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    grid-column-gap: 62px;
    grid-row-gap:62px;
    padding:50px;
	text-decoration:none;
    list-style: none;
}

.itemgrid img{
	width: 100%;
}

