<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @categories= 'article1'}" >
</sly>

        <div class="article1" itemscope="itemscope" id="learn">
            <article class="article1__article"><span style="font-weight:bold;color: #7f7f7f;">LEARN</span>
                <h1 class="article1__h1" itemprop="Savings">Saving for college makes sense wherever you are in life.
                </h1>
                <p class="article1__p">Parenting takes love and smarts. It shouldn't take a degree in economics to save
                    for your child’s education. That’s where we come in.</p>
            </article>
        </div>