<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" >
<sly data-sly-call="${clientLib.css @categories= 'breads'}"></sly>
</sly>
<div class="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item breadcrumb__item"><a class="breadcrumb__a" href="#">Planning</a></li>
                <li class="breadcrumb-item breadcrumb__item active" aria-current="page">College Savings</li>
            </ol>
        </nav>
</div>